html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: #ffffff;
    overflow-x: hidden;
    font-family: $kfont;
    overflow: hidden;
}


.admin-login-wrapper {
    .login-inner-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
       
        .login-left {
            width: 25%;
            position: relative;
            @media(max-width: 1360px){
                width: 30%;
            }
            @media(max-width: 1013px){
                width: 33%;
            }
            @media(max-width: 779px){
                width: 35%;
            }
            @media(max-width: 736px){
                width:100%;
                height: 100vh;
            }
            .login-left-inner {
                position: absolute;
                left: 50%;
                top: 50%;
                content: "";
                width: 90%;
                transform: translate(-50%, -50%);
                h2 {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 29px;
                    line-height: 42px;
                    color: #000000;
                    text-align: center;
                    margin-bottom: 30px;
                    @media(max-width: 1130px){
                        font-size: 26px;
                        margin-bottom: 20px;
                    }
                    @media(max-width: 921px){
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                    @media(max-width: 850px){
                        font-size: 22px;
                        margin-bottom: 15px;
                    }
                    @media(max-width: 736px){
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                }

                form {
                    label {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 22px;
                        color: #2D303C;
                    }

                    input {
                        background: #F6F8FC;
                        border: 1px solid #E1E1E1;
                        box-sizing: border-box;
                        border-radius: 10px;

                        &:focus {
                            border: 1px solid #000000;
                            box-shadow: none;
                        }
                    }

                    .login-btnn-wrapper {
                        text-align: right;
                        .loginbtn {
                            background: #000000;
                            border: 1px solid #E1E1E1;
                            box-sizing: border-box;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 10px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 17px;
                            line-height: 25px;
                            color: #FFFFFF;
                            padding: 10px 55px 15px 55px;
                            @media(max-width: 1130px){
                                padding: 5px 45px 10px 45px;
                            }
                        }
                    }
                }
            }
        }

        .login-right {
            width: 75%;
            background: #00101a;
            position: relative;
            @media(max-width: 1360px){
                width: 70%;
            }
            @media(max-width: 1013px){
                width: 67%;
            }
            @media(max-width: 779px){
                width: 65%;
            }
            @media(max-width: 736px){
               display: none;
            }

            .webgl {
                width: 100% !important;
                height: 100vh !important;
                @media(max-width: 736px){
                    height: calc(100vh - 300px) !important;
                }
            }

            button {
                position: absolute;
                bottom: 3rem;
                left: 50%;
                transform: translateX(-50%);
                -webkit-appearance: none;
                background: crimson;
                color: white;
                font: inherit;
                font-size: 1.5rem;
                padding: 0.75rem 2.5rem;
                border: none;
                border-radius: 1.75rem;
                cursor: pointer;
            }
        }
    }
}